---
layout: default
title: Home
---
<title>OSCP Prep</title>
<table>
    <tr>
        <th>Linux</th>
        <th>Windows</th>
        <th>Linux Hard</th>
        <th>Windows Hard</th>
    </tr>
    <tr>
        <td>Lame</td>
        <td>Legacy</td>
        <td>Kotarak</td>
        <td>Jeeves</td>
    </tr>
    <tr>
        <td>Brainfuck</td>
        <td>Blue</td>
        <td>Falafel</td>
        <td>Bart</td>
    </tr>
    <tr>
        <td>Shocker</td>
        <td>Devel</td>
        <td>DevOops</td>
        <td>Tally</td>
    </tr>
    <tr>
        <td>Bashed</td>
        <td>Optimum</td>
        <td>Lightweight</td>
        <td>Active</td>
    </tr>
    <tr>
        <td>Nibbles</td>
        <td>Bastard</td>
        <td>LaCasaDePapel</td>
        <td><a href="{{ site.baseurl }}/netmon">Netmon</a></td>
    </tr>
    <tr>
        <td>Beep</td>
        <td><a href="{{ site.baseurl }}/granny">Granny</a></td>
        <td>Jail</td>
        <td></td>
    </tr>
    <tr>
        <td>Cronos</td>
        <td>Arctic</td>
        <td>Safe</td>
        <td></td>
    </tr>
    <tr>
        <td>Nineveh</td>
        <td><a href="{{ site.baseurl }}/grandpa">Grandpa</a></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sense</td>
        <td>Silo</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Solidstate</td>
        <td>Bounty</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Node</td>
        <td>Jerry</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Valentine</td>
        <td>Conceal</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Poison</td>
        <td>Chatterbox</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>Forrest</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Tartarsauce</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/irked">Irked</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Friendzone</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="{{ site.baseurl }}/swagshop">Swagshop</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Networked</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Jarvis</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>