// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
  
}

.masthead-text {
  margin-bottom: 0;
  a {
    text-decoration: underline;
  }
}

// Navbar styles
.nav {
  font-size: 0.75em;
  float: right;
  line-height: 1.25rem;
  word-spacing: 1rem;
}