<!doctype html>
<html lang="en">
  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">

  {% include head.html %}

  <body> 

    <div class="container content">
      <header class="masthead">
        <h2 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            
            <!--{% for page in site.pages %}
            <small><a  href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></small>
            {% endfor %}-->
          <small class="nav">
            <a href="{{ site.baseurl }}/archive">Archive</a>
          </small>    
        </h2>
        
        <div class="masthead-text">OSCP-like <a href="https://hackthebox.eu">Hackthebox</a> challenges recommended by <a href="https://docs.google.com/spreadsheets/d/1dwSMIAPIam0PuRBkCiDI88pU3yzrqqHkDtBngUHNCw8/edit#gid=0">NetSec Focus</a></div>
      </header>
      
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>
  </body>
</html>
